footer.footer
    .footer__logo
        img(src='/img/logo.png' alt='BlogPostic logo')
    ul.footer__nav 
        li: a(href='#') Placeholder
        li: a(href='#') Placeholder
        li: a(href='#') Placeholder
        li: a(href='#') Placeholder
        li: a(href='#') Placeholder
    p.footer__copyright &copy; by Tim Münzinger