header.header 
    nav.nav.nav--header
        a.nav__el(href='/') #{i18n.HOME}
        a.nav__el(href='/about') #{i18n.ABOUT}
        button #{i18n.WEB_APP}
    .header__logo   
        img(src='/img/logo.png' alt='BlogPostic logo')
    
