extends base 

block content 
    main.main 
        h1 #{i18n.HOME_TITLE}
        p.summary 
        h2 What is BlogPostig?
        p lorem dingsbums
        h2 Features
        p lorem dingsbums
        h2 How to join?
        p lorem dingsbums
        button Register
